{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'user_auth/_base.css' %}">
</head>
<body>

    <ul id="nav">
        <li class="nav-item">User Authentication</li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>

    {% block body %}{% endblock body %}

    <script src="{% static 'user_auth/_base.js' %}"></script>
</body>
</html>